* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.ask-form {
  background: #F7F5F9;
  border-radius: 12px;
  max-width: 481px;
  width: 100%;
  height: 392px;
  padding: 40px;
  margin: auto;
  margin-top: 31px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}
.ask-form .ask-form__input {
  margin-bottom: 25px;
}
.ask-form input {
  height: 48px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: #100e11;
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding-left: 15px;
  border: none;
  outline: none;
}
.ask-form input::placeholder {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  color: #D0C9D6;
}
.ask-form input:focus {
  border: 1px solid #854FC8;
}
.ask-form .ask-form__title {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 25px;
}
.ask-form .button {
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  width: 100%;
  height: 48px;
  background: #6979F8;
  text-transform: uppercase;
  border-radius: 6px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.ask-form .button:hover {
  background: #4b57b6;
}